* {
    outline: none;
}

body {
    font-family: 'Microsoft Yahei', STHeiti, sans-serif, Arial;
}

input:-webkit-autofill {
    box-shadow: 0 0 0px 1000px transparent inset !important;
}

#app {
    width: 100%;
    height: 100%;
}

/* form */

.label {
    min-width: 110px;
    display: flex;
    justify-content: flex-end;
    color: rgba(0, 0, 0, 0.87);
    font-size: 15px;
    line-height: 34px;
}

.require-span {
    color: red;
    margin-right: 4px;
}

/* reset v-breadcrumbs*/

.v-breadcrumbs__item--disabled {
    color: #1976d2 !important;
}

/* reset v-data-table*/

.v-data-table>.v-data-table__wrapper>table>tbody>tr>th, .v-data-table>.v-data-table__wrapper>table>thead>tr>th, .v-data-table>.v-data-table__wrapper>table>tfoot>tr>th {
    font-size: 0.85rem !important;
    font-weight: 600 !important;
}

/* reset v-list-item*/

.v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 12px !important;
}

.v-input__slot {
    min-height: auto !important;
    display: flex !important;
}

.v-form .v-input__append-inner {
    margin-top: 5px !important;
}

.v-form .v-text-field--outlined.v-input--dense .v-label {
    top: 7px !important;
}

.v-text-field.v-text-field--solo:not(.v-text-field--solo-flat)>.v-input__control>.v-input__slot {
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 12%) !important;
}

.v-btn--is-elevated {
    box-shadow: 0px 1px 5px 0px rgb(0 0 0 / 20%) !important;
}

/* .v-tabs {
    box-shadow: 0px 3px 1px -2px rgba(0, 0, 0, 0.2), 0px 2px 2px 0px rgba(0, 0, 0, 0.14), 0px 1px 5px 0px rgba(0, 0, 0, 0.12);
} */

/* .v-window {
    overflow: visible !important;
} */

/* .v-text-field--filled.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--filled.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--full-width.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--single-line>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined>.v-input__control>.v-input__slot, .v-text-field--outlined.v-input--dense.v-text-field--outlined.v-text-field--filled>.v-input__control>.v-input__slot {
    min-height: 20px !important;
} */

/* .v-application--is-ltr .v-list-item__action:first-child, .v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 20px !important;
} */

/* reset .v-list-group__items */

/* .v-list-group__items {
    background-color: #1E1E1E;
} */

/* html, body {
    height: 100%;
    overflow: hidden;
    overflow-y: hidden !important;
}

a {
    text-decoration: none;
}

i {
    font-style: normal;
}

button {
    -webkit-appearance: none;
}

img {
    display: inline-block;
} */

/* .clearfix:after {
    clear: both;
    content: '.';
    display: block;
    width: 0;
    height: 0;
    visibility: hidden;
} */

/* .v-application--is-ltr .v-list-group--no-action>.v-list-group__items>.v-list-item {
    padding-left: 47px !important;
}

.v-application--is-ltr .v-list-item__icon:first-child {
    margin-right: 12px !important;
}

.v-application--is-ltr .v-list-item__action:first-child {
    margin-right: 12px !important;
} */

/* .v-application .primary--text{
    color: tomato !important;
}
.v-list-item--active{
    color: red;
} */

/* .v-application ul {
    padding: 10px 0 !important
} */

/* .v-data-table--dense>.v-data-table__wrapper>table>tbody>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>thead>tr>td, .v-data-table--dense>.v-data-table__wrapper>table>tfoot>tr>td {
    height: 40px !important;
}

.v-data-table--dense>.v-data-table__wrapper>table>thead>tr>th {
    height: 45px !important;
} */

/* #navContent {
    max-height: 97vh;
    overflow-x: visible !important;
    overflow-y: auto !important;
}

#navContent::-webkit-scrollbar {
    display: none;
} */

/* .v-text-field.v-text-field--enclosed:not(.v-text-field--rounded) > .v-input__control > .v-input__slot, .v-text-field.v-text-field--enclosed .v-text-field__details{
    padding: 0px !important;
} */

/* .dialogInput>.v-input__control>.v-input__slot {
    min-height: auto !important;
    display: flex !important;
}

.dialogInput>.v-input__control>.v-text-field__details {
    margin-bottom: 0 !important;
}

.v-input--selection-controls {
    margin-top: 0 !important;
    padding-top: 0 !important;
} */

/* .tdStyle .v-data-table__wrapper table tr td {
    width: 200px !important;
}

.tdStyle .v-data-table__wrapper table tr td:nth-child(1) {
    width: 100px !important;
}

.tdStyle .v-data-table__wrapper table tr td:nth-child(5) {
    width: 100px !important;
}

.tdStyle .v-data-table__wrapper table tr td:nth-child(6) {
    width: 50px !important;
} */

/* .selectInput .v-input__slot {
    cursor: pointer !important;
}

.selectInput .v-text-field__slot input {
    cursor: pointer !important;
}

.v-dialog {
    overflow-y: visible !important;
} */

/* 
#topicAuditRecords .v-text-field.v-text-field--enclosed .v-text-field__details {
    min-height: 0px !important;
    height: 0px !important;
    margin-bottom: 0px !important;
} */

/* #h-table .v-data-table__wrapper {
    height: auto !important;
} */

/* .theme--light.v-navigation-drawer {
    height: 3000px !important;
} */

/* .theme--light.v-application {
    background: rgb(246, 248, 251) !important;
} */

/* .v-input input {
    max-height: none !important;
    height: 100% !important
} */

/* #createTopicDialog .v-autocomplete.v-input>.v-input__control>.v-input__slot {
    min-height: 32px !important;
} */